Source: webdata
Maintainer: Malin Randstrom <malin@randstrom.com>
Section: python
Priority: optional
Build-Depends: python-dev (>= 2.7), python (>=2.7), debhelper (>= 9)
Standards-Version: 3.9.3

Package: python-webdata
Architecture: any
Section: python
Depends: ${python:Depends}, ${misc:Depends} 
Description: Extracts data from html pages and loads them into a mysql database
